{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show" id="content">
		<h1>Profile</h1>
	    <p>{{ 'Nom'|trans }} : {{ user.username }}</p>
	    <p>{{ 'Mail'|trans }} : {{ user.email }}</p>
</div>
