<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <!--    En Tete possibles   -->
        <meta name="type_demande" content="contact"><!-- [devis CONTACT] -->
        <meta name="from" content="en"><!-- [al en fr] -->
        <!--...-->
        <title>Sorbonne Université - Demande de contact site internet</title>
    </head>
    <body style="font-family:Calibri;font-size:1.1em;">
        Societe : <span data-type="societe">Sorbonne Université</span><br>
        Nom : <span data-type="nom">BITTNER</span><br>
        <!-- Ville : <span data-type="Ville">PARIS</span><br> -->
        Telephone : <span data-type="tel">01 44 27 46 92</span><br>
        <!-- Email : <span data-type="Email">bittner.jeanpascal@sorb.univ.fr</span></br> -->
        Infos en plus : <span data-type="commentaire">Bonjour j'ai fait une demande de devis, celle-ci est traitée par Pierre-Antoine GACZYNSKI, mais il a oublié de me joindre le document lors de son dernier email, et il actuellement il ne répond plus à mes mails. quelqu'un d'autre pourrait il me fournir ce devis ? je souhaiterais un devis pour : 20 boitiers étudiants et 2 boitiers enseignants, et une journée de formation à Paris, campus de l'Université Pierre et Marie Curie, metro Jussieu. Merci par avance pour votre retour, cordialement.</span><br>
    </body>
</html>