{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/mail.css') }}">
{% endblock %}

{% block title %}Mail{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
	<h1>{{response.DisplayName}}</h1>
	{{dump(response.FolderId)}}

{% endblock %}