<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ asset('css/test.css') }}">
		<script type="text/javascript" src="{{ asset('assets/DataTables/media/js/jquery.js') }}"></script>
	</head>
	<body>
		{{dump(rsp)}}
		
	</body>
</html>