.nom div, .cpVille div, .adderBtn div, .nbType div{
    display: inline-block;
}

.adresse, .detailComm, .detailAffaire{
    padding-top: 30px;
}

.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content input[type="date"],
.modal-content input[type="tel"]{
    width: 50%;
    height: 20px;
    padding-left: 6px;
}

.modal-content #form_DevisType, #form_Provenance, #form_Commercial, #form_SystemType{
    width: 51.5%;
    height: 25px;
    padding-left: 6px;
}

.modal-content #form_Civilite{
    height: 25px;
    padding-left: 6px;
}
div #nomField{
    width: 20.1%;
}
#form_Nom{
    width: 89%;
}
div #prenomField{
    width: 20.5%;
}
#form_Prenom{
    width: 90%;
}



.adress input{
    display: block;
}
#cp{
    width: 50%;
}
#form_CP{
    width: 30%;
}
#ville{
    width: 32%;
}
#ville>div{
    width: 100%;
}
#form_Ville{
    width: 100%;
}

#sysType div{
    width: 100%;
}
#form_SystemType{
    width: 49%;
}
div>#form_NbController{
    width: 48.5%;
}

.modal-content textarea {
    width: 48.45%;
    height: 130px;
    padding: 7px 10px;
    resize: none;
}


/* Button */

.adderBtn{
    position: relative;
    left: 32%;
}



#delModalNom, #delModalSociete{
    font-weight: bold;
}