.nom div, .cpVille div, .adderBtn div, .nbType div{
    display: inline-block;
}

.adresse, .detailComm, .detailAffaire{
    padding-top: 30px;
}

.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content input[type="date"],
.modal-content input[type="tel"]{
    width: 50%;
    height: 20px;
    padding-left: 6px;
}

.modal-content #affaire_DevisType, #affaire_Provenance, #affaire_Commercial, #affaire_SystemType{
    width: 51.5%;
    height: 25px;
    padding-left: 6px;
}

.modal-content #affaire_Civilite{
    height: 25px;
    padding-left: 6px;
}
div #nomField{
    width: 20.1%;
}
#affaire_Nom{
    width: 89%;
}
div #prenomField{
    width: 20.5%;
}
#affaire_Prenom{
    width: 90%;
}



.adress input{
    display: block;
}
#cp{
    width: 50%;
}
#affaire_CP{
    width: 30%;
}
#ville{
    width: 32%;
}
#ville>div{
    width: 100%;
}
#affaire_Ville{
    width: 100%;
}

#sysType div{
    width: 100%;
}
#affaire_SystemType{
    width: 49%;
}
div>#affaire_NbController{
    width: 48.5%;
}

.modal-content textarea {
    width: 48.45%;
    height: 130px;
    padding: 7px 10px;
    resize: none;
}


/* Button */

.adderBtn{
    position: relative;
    left: 32%;
}



#delModalNom, #delModalSociete{
    font-weight: bold;
}