#header{
    padding-top: 7px;
    padding-left: 0;
    border: none;
    width: 100%;
    background-color: #1f212d;
    color: white;
    overflow: auto;
}


.subMenu{
    display: none;
    padding: 0;
    position: absolute;
    background-color: #1f212d;
}
.subMenu a{
    border-bottom: 1px solid #fe8e1e;
    margin: 0;
    padding-left: 25px;
    padding-right: 15px;
    color: #fe8e1e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subMenu h1{
    font-size: 17px;
}


.subMenu a:hover{
    background-color: #3f435b;
}
.navigation:hover .subMenu{
    display: block;
    z-index: 1;
}

.txtBanner{
    float: left;
    color: #fe8e1e;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    margin-top: 4px;
    padding-left: 20px;
    padding-bottom: 15px;
}
.txtBanner div{
    display: inline-block;
}
#qbBanner{
    font-size: 35px;
}
#affaireBanner{
    margin-left: 5px;
    font-size: 15px;
}


.leftBanner{
    float: left;
    margin-top: 6px;
    margin-left: 35px;
}
.leftBanner .button{
    margin-left: 8px;
}

.checkboxFilter{
    margin-left: 50px;
    display: inline-block;
}

.rightBanner{
    float: right;
    margin-top: 18px;
    margin-right: 20px;
}
.selector{

    height: 25px;
}

#searchbox{
    height: 20px;
    margin: 0 10px;
    padding-left: 7px;
    background-color: #646468;
    border: 1px solid #c4a17d;
    border-radius: 2px;
    color: white;
}

#searchbox::placeholder{
    color: #c4a17d;
}