#header{
    border: none;
    width: 100%;
    background-color: #1f212d;
    color: white;
    overflow: auto;
    padding-top: 10px;
}
.filterHeader div{
    display: inline-block;
    vertical-align: middle;
}

.subMenu{
    display: none;
    padding: 0;
    position: absolute;
    background-color: #1f212d;
}
.subMenu a{
    border-bottom: 1px solid #fe8e1e;
    margin: 0;
    padding-left: 25px;
    padding-right: 15px;
    color: #fe8e1e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.subMenu h1{
    font-size: 17px;
}
.subMenu a:hover{
    background-color: #3f435b;
}
.navigation:hover .subMenu{
    display: block;
    z-index: 1;
}


.txtBanner{
    float: left;
    color: #fe8e1e;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    padding: 8px 20px 17px 20px;
}
.txtBanner div{
    display: inline-block;
}
#qbBanner{
    font-size: 35px;
}
#affaireBanner{
    margin-left: 5px;
    font-size: 15px;
}


.leftBanner{
    margin-left: 1.8%;
    margin-right: 1.8%;
}
.leftBanner .button{
    margin-right: 7px;
}

.checkboxFilter{
    font-size: 14px;
}
.checkboxFilter table tbody tr td{
    line-height: 24px;
}

.rightBanner{
    margin-right: 13px;
    float: right;
}
.filterHeader select{
    width: 70px;
    height: 23px;
}
.selectArea {
    width: 70px;
    line-height: 28px;
}
#searchbox{
    height: 20px;
    background-color: #646468;
    border: 1px solid #c4a17d;
    border-radius: 2px;
    color: white;
    margin-right: 20px;
    padding-left: 8px;
}

#searchbox::placeholder{
    color: #c4a17d;
}