#content{
	border: 1px solid #c6c6c6;
	border-top: none;
	border-radius: 7px;
	width: 90%;
	margin: 25px auto;
	background-color: white;
	padding-bottom: 20px;
	padding-top: 0;
	z-index: 1;
	position: relative;
}

#content h1{
	color: #f58233;
	background-color: #1f212d;
	font-size: 35px;
	margin: 0;
	padding: 15px;
	text-align: center;
}

.affaire{
	display: none;
}

.other{
	display: none;
}

.message{
	border: 1px solid black;
}

.message .header{
	border-bottom: 1px solid #f58233;
	padding: 8px 15px;
}
.message .header:hover{
	background-color: #1f212d;
	color: #f58233;
	cursor: pointer;
}

.shown .header{
	background-color: #1f212d;
	color: #f58233;
}

.message h2{
	margin: 0;
	font-size: 20px;
}
.message h3{
	margin-left: 15px;
	font-size: 12px;
}

.message .date{
	padding-left: 15px;
	font-style: italic;
	font-size: 10px;
	color: grey;
}

.message .body{
	margin: 30px 0;
	display: none;
	padding: 0 30px;
	white-space: pre-line;
}

#folder{
	width: 100%;
	background-color: #e5e7ea;
}

#onglet{
	padding: 0;
	margin: 0;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#onglet li{
   	font-size: 27px;
	border: 2px solid #F58233;
	background-color: #b8bbd6;
	color: #f98836;
	padding: 12px 18px;
	border-radius: 7px 7px 0 0;
	text-align: center;
	width: 33%;
	list-style-type: none;
}

#onglet li:hover{
	cursor: pointer;
	background-color: #424459;
	color: #F58233;
}

#onglet .active{
	border-bottom: 2px solid #1F212D;
	background-color: #1F212D;
	color: #F58233;
}
#onglet .active:hover{
	background-color: #1F212D;
}