body {
    background-color: #e5e7ea;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    border-radius: 1px;
}

.button{
    background-color: #fe8e1e;
    color: white;
    padding: 8px 18px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.button:hover {
    background-color: #ffa254;
}

.disable{
    background-color: #fccfa1;
    cursor: default;
}

.disable:hover {
    background-color: #fccfa1;
}

::placeholder{
    font-style: italic;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin:0;
}

#testBtn{
    float: right;
    margin-right: 100px;
}

#waiter{
    font-size: 25px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: bold;
    color: #fe8e1e;
    text-align: center;
    margin: 150px 0;
}
#waiter div{
    display: inline-block;
}