body {
    background-color: #e5e7ea;
    font-family: "Helvetica Neue", Helvetica, 'source_sans_proregular', Arial, "Lucida Grande", sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

.colorSquare{
    width: 15px;
    height: 15px;
    border-radius: 2px;
}

.blockColorSquare{
    border: 1px solid grey;
    display: block;
}

.stateColorSquare{
    display: inline-block;
}

.button{
    background-color: #f58233;
    color: white;
    padding: 8px 18px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.button:hover {
    background-color: #ffa254;
}

.disable{
    background-color: #fccfa1;
    cursor: default;
}

.disable:hover {
    background-color: #fccfa1;
}

::placeholder{
    font-style: italic;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin:0;
}

#testBtn{
    float: right;
    margin-right: 100px;
}

#waiter{
    font-size: 25px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: bold;
    color: #f58233;
    text-align: center;
    margin: 150px 0;
}
#waiter div{
    display: inline-block;
}

.dropdown{
    width: 90px;
    background-color: #fff;
    border-radius: 2px;
    margin: 0;
}
.dropdown dt{
    border: 1px solid grey;
    text-align: left;
    padding: 3px 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.dropdown dd{
    margin: 0;
}
.dropdown dd ul{
    padding: 0;
    margin: 3px 0 0 0;
    position: absolute;
    width: 90px;
    background-color: #ffffff;
}
.dropdown dt:hover{
    border-color: black;
    color: black;
    cursor: pointer;
}
.listcontent{
    display:none;
    list-style-type: none;
}
.dropdown dd ul li{
    border: 1px solid grey;
    text-align: left;
    padding: 3px 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.dropdown dd ul li:hover{
    border-color: black;
}
