body {
    background-color: #e5e7ea;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0;
}

img{
    border-radius: 3px;
}

.button{
    background-color: #fe8e1e;
    color: white;
    padding: 8px 18px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: #ffa254;
}

.disable{
    background-color: #fccfa1;
    cursor: default;
}

.disable:hover {
    background-color: #fccfa1;
}

::placeholder{
    font-style: italic;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin:0;
}

#header{
    padding: 7px 0;
    border: none;
    width: 100%;
    background-color: #282a3d;
    color: white;
    overflow: auto;
}

.txtBanner{
    float: left;
    color: #fe8e1e;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    margin-top: 4px;
    padding-left: 20px;
}

.txtBanner div{
    display: inline-block;
}
#qbBanner{
    font-size: 35px;
}
#affaireBanner{
    margin-left: 5px;
    font-size: 15px;
}

.leftBanner{
    float: left;
    margin-top: 6px;
    margin-left: 35px;
}

.leftBanner .button{
    margin-left: 8px;
}

.checkboxFilter{
    margin-left: 100px;
    display: inline-block;
}

.rightBanner{
    float: right;
    margin-top: 18px;
    margin-right: 20px;
}
.selector{

    height: 25px;
}

#searchbox{
    height: 16px;
    margin: 0 10px;
    padding-left: 7px;
}

#testBtn{
    float: right;
    margin-right: 100px;
}

#waiter{
    font-size: 25px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: bold;
    color: #fe8e1e;
    text-align: center;
    margin: 150px 0;
}
#waiter div{
    display: inline-block;
}