#userFrame{
	border: 1px solid #c6c6c6;
	border-radius: 7px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background-color: white;
	padding-bottom: 20px;
}

#userFrame h1{
	text-align: left;
	padding-left: 10px; 
	font-size: 30px;
	color: #fe8e1e;
	background-color: #282a3d;
	margin-top: 0;
	margin-bottom: 10px;
}

#userList{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

#userList thead{
	background-color: #fe8e1e;
}

#userList .subTitle{
	padding: 8px 10px;
	font-weight: normal;
	font-size: 14px;
}

#userList td, #userList th{
	padding: 10px 15px;
	border: 1px solid #282a3d;
}

.button{
    margin-left: 30px;
    margin-top: 10px;
}

.selected{
    background-color: #ffc68e;
}
.centerCol{
	text-align: center;
	font-weight: bold;
}