{% trans_default_domain 'FOSUserBundle' %}

<div id="content">
	<h1>Mot de passe perdu</h1>
	<p>Veuillez saisir votre Nom d'utilisateur ou votre adresse mail.
		Un mail de confirmation va vous être envoyé : </p>
	<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
	    <div>
	        <label for="username">{{ 'resetting.request.username'|trans }}</label>
	        <input type="text" id="username" name="username" required="required" placeholder="Nom ou @mail" />
	    </div>
	    <div>
	        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="button"/>
	    </div>
	</form>
</div>
