#header{
    padding-bottom: 10px;
    border: none;
    width: 100%;
    background-color: #282a3d;
    color: white;
    overflow: auto;
    text-align: center;

}

.txtBanner{
    color: #fe8e1e;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    display: block;
    margin: 20px 0;

}
.txtBanner div{
    display: inline-block;
}

#qbBanner{
    font-size: 35px;
}
#affaireBanner{
    font-size: 15px;
}

.checkboxFilter{
    margin: 15px 0;
}
.checkboxFilter table{
    display: inline-block;
    margin-left:auto; 
    margin-right:auto;
}

.rightBanner span, .rightBanner input{
    display: inline-block;
    margin: 3px;
    padding-left: 5px;
}

#timeSelect{
    width: 75px;
}
#searchBox{
    width: 120px;
}