body {
    background-color: #e5e7ea;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0;
}

.button{
	display: none;
}

::placeholder{
    font-style: italic;
}


input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin:0;
}

#waiter{
    font-size: 25px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: bold;
    color: #fe8e1e;
    text-align: center;
    margin: 150px 0;
}
#waiter div{
    display: inline-block;
}